<div class="well">
  <p class="text-muted">Added by ....... on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <p><%= comment.body %></p>
    <% my_edit_path = "/posts/" + post.id.to_s + "/comments/" + comment.id.to_s%>
    <% if comment.user == current_user %>
      <%= button_to "Edit Comment", my_edit_path, method: 'get', class: 'btn btn-warning' %>
      <%= button_to "Delete Comment", my_edit_path , method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm left-spacer'%>
    <% end %>
  </blockquote>
<% my_path = "/posts/" + post.id.to_s + "/comments/new/" + comment.id.to_s%>
  <p><%= link_to 'reply', my_path %></p>
</div>
