<h1> all convo </h1>
<% for conversation in @conversations %>
  <% conversation.participants.each do |participant| %>
    <div>
      <%= participant.name %>
    </div>
    <div>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    </div>
  <% end %>
<% end %>
<%= link_to "new conversations", new_conversation_path %>
<section>
  <div id="conversationsindex">
    <div class="container">
      <h1> Current Conversations </h1>
      <!-- Modal for new comment -->
      <div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
      <% for conversation in @conversations %>
        <% conversation.participants.each do |participant| %>
        <li id="conversations">
          <b>From: </b> <%= participant.first_name %> <%= participant.last_name %><br>
          <b>Topic: </b><%= link_to conversation.subject, conversation_path(conversation) %>
        </li>
        <% end %>
      <% end %><br>
      <%= link_to "<i class='fa fa-pencil-square-o'></i> Start New Conversation".html_safe, new_conversation_path, :class => 'btn btn-info' %>
    </div>
  </div>
</section>
