<section>
  <div id="conversationsindex">
    <div class="container">
      <h1> Current Conversation </h1>
      <%= form_tag conversations_path, method: :post do %>
        <div>
          <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :first_name) %>
        </div>
        <div>
          <%= text_field_tag :subject, nil, placeholder: "subject" %>
        </div>
        <div>
          <%= text_area_tag :body, nil, placeholder: "leave a comment" %>
        </div>
        <%= submit_tag 'Send', class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "back", conversations_path %>
    </div>
  </div>
</section>
