<section>
  <div id="useredit">
    <div class="container">
      <h1>Edit Profile</h1>
      <ul class="form-fields">
        <%= simple_form_for @user do |f| %>
            <%= f.input :avatar %>
            <%= f.input :first_name, class: "form-control", placeholder: "First name", autofocus: true %>
            <%= f.input :last_name, class: "form-control", placeholder: "Last name", autofocus: true %>
            <%= f.input :email, class: "form-control", placeholder: "Email", autofocus: true %>
            <%= f.input :current_city, class: "form-control", placeholder: "Current City", autofocus: true %>
            <%= f.input :current_position, class: "form-control", placeholder: "Current Position", autofocus: true %>
            <%= f.input :current_employer, class: "form-control", placeholder: "Employer", autofocus: true %>
            <%= f.input :tech_preference, class: "form-control", placeholder: "Technology Preference", autofocus: true %>
            <%= f.button :submit, "Save", class: "btn btn-success" %>
        <% end %>
      </ul
    </div>
  </div>
</section>
