<section>
  <div id="userindex">
    <div class="container-small">
      <% for user in @users %>
      <div class="row">
            <div class="col-xs-6 col-md-4">
              <%= link_to image_tag(user.image, :class => 'img-circle'), user_path( User.friendly.find(user.id) ) %>
            </div>
            <div class="cl-xs-6 col-md-8 users">
              <h1><%= link_to "#{user.first_name} #{user.last_name}", user_path( User.friendly.find(user.id) ) %></h1><br><br>
              <div class="city"><h3><%= user.current_city %></h3></div>
              <p><%= fa_icon "briefcase", :class => 'fa-icon' %> <b>Currently </b>
              <% if user.current_employer == nil || user.current_position == nil %>
                <%= "On the beach" %>
              <% else %>
                <%= user.current_position.split.map(&:capitalize)*' ' %> at <%= user.current_employer %></p>
              <% end %>
              <p><%= fa_icon "briefcase", :class => 'fa-icon' %> <b>Seeking Work: </b><%= yesno(user.seeking_work) %></p>
              <p><%= fa_icon "code", :class => 'fa-icon' %> <b>Tech Preference: </b><%= user.tech_preference %></p>
            </div>
      </div><br>
      <% end %>
    </div>
  </div>
</section>
