
<div id="usershow">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <%= image_tag @user.avatar.url(:medium) %>
        </div>
        <div class="col-xs-8">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1><hr />
          <h3><%= fa_icon "envelope", :class => 'fa-icon' %> <%= @user.email %></h3>
          <div class="city"><h3><%= @user.current_city %></h3></div>
          <h3><%= fa_icon "briefcase", :class => 'fa-icon' %> <b>Currently</b> <%= @user.current_position %> at <%= @user.current_employer %></h3>
          <h3><%= fa_icon "briefcase", :class => 'fa-icon' %> <b>Seeking Work: </b><%= yesno(@user.seeking_work) %></h3>
          <h3><%= fa_icon "code", :class => 'fa-icon' %> <b>Technology Preference: </b><%= @user.tech_preference %></h3>
        </div>
      </div>
      <br />
      <% if current_user.id == @user.id%>
      <div>
        <button class="btn btn-warning"><%= link_to "Edit", edit_user_path %></button>
      </div>
      <% end %>
    </div>
  </section>
</div>
