<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<div>
  <p>
    <%= image_tag @user.avatar.url(:medium) %>
  </p>
  <p>
    <%= @user.first_name %>
  </p>
  <p>
    <%= @user.last_name %>
  </p>
  <p>
    <%= @user.email %>
  </p>
  <p>
    <%= @user.current_city %>
  </p>
  <p>
    <%= @user.current_position %>
  </p>
  <p>
    <%= @user.current_employer %>
  </p>
  <p>
    <%= @user.seeking_work %>
  </p>
  <p>
    <%= @user.tech_preference %>
  </p>
</div>
<div>
  <%= link_to "Edit", edit_user_path %>
</div>
