<section>
  <div id="signin">
    <div class="container">
      <h2>Log in</h2>
      <div class="row">
        <div class="col-xs-3">
        <!-- Start of user sign-in form -->
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
          <%= f.input :email, autofocus: true, placeholder: 'Enter email' %>
          <%= f.input :password, autocomplete: "off", placeholder: 'Password' %>
          <%= f.submit "Log in", :class=> "btn btn-primary" %>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <br />
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <% end %>
              <% end -%>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
