<div id="splash">
  <div class="col-sm-8 col-md-8 col-lg-8" id="office">
    <h1 id="connected">STAYING CONNECTED</h1>
      <div id="office-blurb">
        Stay in touch with your beloved cohort. No matter where we end up, we can continue to share and learn.
        <%= button_to "Sign in & see more!", new_user_session_path, :method => "get", :class => "btn btn-danger", :id => "main-btn" %>
      </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" id="right-side">
    <div class="child" id="whiteboard">
      <h3 class="sides">Life After WDI</h3>
      <p>Going at it together</p>
      <%= button_to "WDI 28 Schedule", 'https://github.com/sf-wdi-27-28/schedule-28', :method => "get", :class => "btn btn-danger side-btn", form: {target: '_blank'} %>
    </div>
    <div class="child" id="class">
      <h3 class="sides">Looking Back & Moving Forward</h2>
      <p>Clear eyes, fulls hearts, can't lose</p>
      <%= button_to "Surprise...", 'https://vimeo.com/45196609', :method => "get", :class => "btn btn-danger side-btn", form: {target: '_blank'} %>
    </div>
  </div>
  <div class="row">
    <div class="col sm-12" id="spotlight">
      <h4>Our Beloved Instructors</h4>
        <div class="instructors" id="nathan">
          <%= image_tag('nathan_allen.jpg') %>
          <h5>Nathan Allen</h5>
        </div>
        <div class="instructors" id="justin">
          <%= image_tag('justin_castilla.jpg') %>
          <h5>Justin Castilla</h5>
        </div>
        <div class="instructors" id="juliana">
          <%= image_tag('juliana_lopker.jpg') %>
          <h5>Juliana Lopker</h5>
        </div>
        <div class="instructors" id="nick">
          <%= image_tag('nick_brennen.jpg') %>
          <h5>Nick Brennan</h5>
      </div>
    </div>
  </div>
