<section>
  <div id="postsindex">
    <div class="container">
    <% flash.each do |name, msg| %>
      <% if name == "notice"%>
        <span>
          <small id="flash-notice"> <%= name.capitalize %>: <%= msg %> </small>
        </span>
      <% elsif name == "error" %>
        <span>
          <small id="flash-error"> <%= name.capitalize %>: <%= msg %> </small>
        </span>
      <% end %>
    <% end %>
      <h1>GA-Social Posts</h1>
      <%= button_to "Search Posts", search_posts_path, method: 'get', class: 'btn btn-info' %><br>
      <%= button_to "Add New Post", new_post_path, method: 'get', class: 'btn btn-primary' %>
      <hr>
        <% for post in @posts do %>
          <b>Posted by: <%=link_to post.user.first_name + " " + post.user.last_name, user_path(post.user)%></b> <span class="quiet"><small><%= time_ago_in_words(post.created_at) %> ago</small></span><br>
          <% if current_user.id == post.user_id %>
          <!-- post belongs to the current user -->
            <div>
              <!-- truncate post body if it is more than 250 chatacters -->
              <% if post.body.length>250 %>
                  <div title="Click on post to edit">
                    <!--best_in_place gem enables inline editing  -->
                    <!-- trunc method is defined in post model method -->
                    <%= best_in_place post, :body, :as => :textarea, :display_as => :trunc, :ok_button => 'Save', :cancel_button => 'Cancel' %>
                    <%= link_to 'Read more', post_path(post) %>
                  </div>
              <% else %>
                <div title="Click on post to edit">
                  <%= best_in_place post, :body, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %>
                </div>
              <% end %>
            </div>
              <%= button_to "Delete", post_path(post) , method: :delete,
                  data: {confirm: "Are you sure you want to delete this post?"}, class: 'btn btn-danger' %>
          <% else %>
          <!-- post does not belong to the current user -->
            <div>
              <%= image_tag post.avatar? ? post.avatar.url(:medium): "" %><%= post.body.truncate(250) %>
              <% if post.body.length>250 %>
                <%= link_to 'Read more', post_path(post) %>
              <% end %>
            </div>
            <!-- likes -->
            <div class="likes pull-right">
              <%= link_to like_post_path(post, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= post.thumbs_up_total %>
              <% end %>
              &nbsp&nbsp&nbsp
              <%= link_to like_post_path(post, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= post.thumbs_down_total %>
              <% end %>
              <%= link_to 'Add a Comment', new_comment_path(post), class: 'btn btn-primary btn-sm' %>
            </div>
              <!-- end of likes -->
              <!-- end of test that user is authorized to change -->
          <% end %>
          <!-- END OF USER AUTHORIZATION -->
          <hr>
            <!-- calculate number of comments -->
          <% count = 0 %>
          <% post.comments.all.each do |c|%>
            <% if c.root?%>
              <%  count = count + 1%>
            <% end%>
          <% end %>
          <% if count>0 %>
            <%= pluralize(count.to_s, "comment")%>
          <% end %>
          <% tag = post.comments.all %>
          <% comments = tag.hash_tree %>
          <hr>
          <!-- call the comments partial which is rendered by the closure_tree gem -->
          <% if comments %>
            <!-- this is the special way that closure_tree gem does the partial -->
            <%= comments_tree_for comments %>
          <% end %>
        <% end %>
      <!-- END OF POSTS LOOP -->
      <!-- uses the will_paginate bootstrap gem -->
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
      <%= page_entries_info @posts %>
    </div>
  </div>
</section>
