<div class="postindex">
<h1>GA-Social Posts</h1>

<div>
  <%= button_to "Add New Post", new_post_path, method: 'get', class: 'btn btn-primary' %>
</div><hr>
<div>
  <% for post in @posts do%>
  <div>
    <strong><div><%=link_to post.user.first_name + " " + post.user.last_name, user_path(post.user)%></div></strong>
  </div></strong> <br>
  <div> <%= image_tag post.avatar.url %> <%= post.body %> </div><br>

    <% if current_user.id == post.user_id%>
      <div>
        <%= button_to "Edit Post", edit_post_path(post), method: 'get', class: 'btn btn-warning' %>
      </div>
      <br>
      <div>
        <%= button_to "Delete", post_path(post) , method: :delete,
            data: {confirm: "Are you sure you want to delete this post?"}, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div><hr>
  <% end %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
</div>
</div>
