<!DOCTYPE html>
<html>
<head>
  <title>GA-Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- BEGIN NAVBAR -->
  <div id="mainNav">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to(image_tag('/assets/ga-logo.png', :class => "brand"), splash_path) %>
            <%= link_to "GA Social", splash_path, class: "navbar-brand page-scroll" %>
        </div>
​
        <%= render 'layouts/navbar' %>
  </div>

  <%= yield %>
</body>
</html>
