<!DOCTYPE html>
<html>
<head>
  <title>GA-Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'ga-logo.ico' %>
</head>
<body>

  <%= render 'layouts/navbar' %>
  <h1><% flash.each do |name, msg| %>
    <% if name == "notice"%>
      <strong>
        <small id="flash-notice"> <%= name.capitalize %>: <%= msg %> </small>
      </strong>
    <% elsif name == "error" %>
      <strong>
        <small id="flash-error"> <%= name.capitalize %>: <%= msg %> </small>
      </strong>
    <% end %>
  <% end %></h1>
  <%= yield %>
</body>
</html>
